:root{
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --black: #000000;
}
body { font-family: Roboto, sans-serif;
    color: var(--dark);
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    font-size: 16px;
}
a {
    text-decoration: none;
}
ul {list-style-type: none;}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1,33;
    text-transform: uppercase;
    color: var(--dark);
}
.logo2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1,16;
    text-transform: uppercase;
    color: #F4F4FD;
}
.web-logo {
    color: var(--primary-brand);
}
.web-logo2 {
    color: var(--primary-brand);

}
.navigation {
    list-style: none;;
    }
.nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark);
}
.nav-link:hover {color: var(--primary-brand)}
.nav-link:focus {color: var(--primary-brand)}
.nav-link:active {color: var(--primary-brand);}
.contacts {
    list-style: none;;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
}
.contacts:hover {
    color: var(--primary-brand);
}
.contacts:focus {
    color: var(--primary-brand);
}
.contacts:active {
    text-decoration: underline;
}
.main-section {
    background-color: var(--dark);
}
.main-header {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #FFFFFF;
}
.order-button {
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--primary-brand);
    letter-spacing: 0.04em;
    cursor: pointer;
}
.order-button:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #404BBF;
}
.order-button:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #404BBF;
}
   
.order-button:active { 
    background-color: #404BBF;
}
.advantages {
    list-style: none;
    line-height: 1.5;
    color: var(--text);
    letter-spacing: 0.02em;
}
.advantages-head {
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark);
    letter-spacing: 0.02em;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark);
    letter-spacing: 0.02em;
}
.team-section{
    background-color: var(--light);
}
.team {
    list-style: none;
    line-height: 1.5;
    color: var(--text);
    letter-spacing: 0.02em;
}
.tname {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;  
    color: var(--dark);
    letter-spacing: 0.02em;
}
.footer {
    line-height: 1.5;
    color: #E7E9FC;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.project-photo {
    list-style-type: none;
    width: 360px;
    height: 300px;
}
.project-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-filter {
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background-color: #E7E9FC;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-brand);
}
.nav-filter:hover{
    background-color: var(--primary-brand);
    color: #FFFFFF;
}
.nav-filter:focus{
    background-color: var(--primary-brand);
    color: #FFFFFF;
}
.nav-filter-all {
    background: var(--primary-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.5;
}
.nav-filter-all:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.nav-filter-all:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.nav-filter-all:active{
    background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.footer-section {
    background-color: var(--dark);
}