:root{
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --black: #000000;
}
body { font-family: Roboto, sans-serif;
    color: var(--dark);
    background-color: #FFFFFF;
    letter-spacing: 0,02;
    font-size: 16px;
}
a {
    text-decoration: none;
}
ul {list-style-type: none;}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1,33;
}
.web-logo {
    color: var(--primary-brand);
}
.navigation {
    list-style: none;;
    }
.nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1,33x;
    color: var(--dark);
}
.nav-link:hover {color: var(--text)}
.nav-link:focus {color: var(--text)}
.navigation:active {color: var(--primary-brand);}
.contacts {
    list-style: none;;
    font-size: 16px;
    line-height: 1,33;
    color: var(--text);
}
.contacts:hover {
    color: var(--primary-brand);
}
.contacts:focus {
    color: var(--primary-brand);
}
.contacts:active {
    text-decoration: underline;
}
.main-section {
    background-color: var(--dark);
}
.main-header {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 3,33;
    color: #FFFFFF;
}
.order-button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,05;
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--primary-brand);
    width: 170px;
    height: 51px;
    left: 20px;
    top: 20px;
    cursor: pointer;
}
.order-button:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 170px;
    height: 51px;
    left: 20px;
    top: 88px;
}
.order-button:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 170px;
    height: 51px;
    left: 20px;
    top: 88px;
}
   
.order-button:active {
    width: 170px;
    height: 51px;
    left: 20px;
    top: 156px;
    background-color: #404BBF;
}
.advantages {
    list-style: none;
    line-height: 1,33;
    color: var(--text);
}
.advantages-head {
    font-size: 20px;
    line-height: 1,33;
    color: var(--dark);
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 2,22;
    color: var(--dark);
}
.team {
    list-style: none;
    line-height: 1,33;
    color: var(--text);
}
.tname {
    font-weight: 700;
    font-size: 20px;
    line-height: 1,33;  
    color: var(--dark);
}
.footer {
    line-height: 1,33;
}
.project-photo {
    list-style-type: none;
    width: 360px;
    height: 300px;
}
.nav-filter {
    width: 116px;
    height: 48px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background-color: #E7E9FC;
    font-weight: 700;
    line-height: 1,33;
    color: var(--primary-brand);
}
.nav-filter:hover{
    background-color: #FFFFFF;
}
.nav-filter:focus{
    background-color: #FFFFFF;
}
.nav-filter-all {
    background: var(--primary-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 69px;
    height: 48px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1,33;
}
.nav-filter-all:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.nav-filter-all:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.nav-filter-all:active{
    background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.footer-section {
    background-color: var(--dark);
}